<a href="https://colab.research.google.com/github/cinverse/lg-1/blob/master/gg_07_%ED%8C%8C%EC%9D%BC%EB%8B%A4%EB%A3%A8%EA%B8%B0_mod.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 파일 생성

In [0]:
from pandas import DataFrame, Series 
import pandas as pd 

f = open("test.csv", "w")
f.write("1,2,3,4,5 \n")
f.close()

In [0]:
!cat test.csv

1,2,3,4,5

In [0]:
with open("test.csv", "a") as f:
    f.write("1,2,3,4,5 \n")
    f.write("1,2,3,4,5 \n")

In [0]:
!cat test.csv

1,2,3,4,5
1,2,3,4,5
1,2,3,4,5

In [0]:
with open("test.csv",'r') as f:
    for line in f:
        print(line, end = '')

1,2,3,4,5
1,2,3,4,5
1,2,3,4,5

## 옵션
'r'	Open a file for reading. (default)  
'w'	Open a file for writing. Creates a new file if it does not exist or truncates the file if it exists.  
'x'	Open a file for exclusive creation. If the file already exists, the operation fails.  
'a'	Open for appending at the end of the file without truncating it.   Creates a new file if it does not exist.
't'	Open in text mode. (default)  
'b'	Open in binary mode.  
'+'	Open a file for updating (reading and writing)

In [0]:
with open("test.csv", "w") as f:
    f.write("a,b,c,d,message \n")
    f.write("1,2,3,4,hello \n")
    f.write("5,6,7,8,world \n")
    f.write("9,10,11,12,foo \n")

In [0]:
!cat test.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [0]:
pd.read_csv('test.csv')  # 자동으로 컬럼명을 만든다

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [0]:
pd.read_csv('test.csv', header=None)

   0   1   2   3         4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [0]:
pd.read_csv('test.csv', header=1)

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [0]:
pd.read_csv('test.csv', names=['A','B','C','D','E'])

   A   B   C   D         E
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [0]:
!cat test.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [0]:
pd.read_csv('test.csv', nrows=2)
# pd.read_csv('data/ex1.csv', index_col='message')

   a  b  c  d message
0  1  2  3  4   hello
1  5  6  7  8   world

In [0]:
df = pd.read_csv('test.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [0]:
df.to_csv('output.csv')

In [0]:
!cat output.csv

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

## 디렉토리

In [0]:
import os
os.getcwd()

'/Users/hwa-jongkim/Dropbox/data-science'

In [0]:
os.chdir('/Users/hwa-jongkim/Dropbox/data-science/data-science-all')
os.getcwd()

'/Users/hwa-jongkim/Dropbox/data-science/data-science-all'

In [0]:
os.listdir()

['u7_taxi_read.ipynb',
 'u7_타이타닉예측DecisionTree.ipynb',
 'u3_비지도학습(mg_3).ipynb',
 'u7_자전거예측_하이퍼파라미터튜닝.ipynb',
 'u2_데이터크롤링(kusi).ipynb',
 'v3-3지도학습-SVM(mg2).ipynb',
 'u7_시계열분석_항공기이용승객수_LSTM(권혁민).ipynb',
 'u2_데이터읽기.ipynb',
 'v1-2파이선기초문법.ipynb',
 'u7_테러발생데이터_시각화(이덕주).ipynb',
 'u6_MNIST_딥러닝(Tut).ipynb',
 'preamble.py',
 'u2_데이터읽기_탐색.ipynb',
 'w1-Python-intro.ipynb',
 'w5-handson-intro.ipynb',
 'v1-3Numpy-practice.ipynb',
 'u3_다차원_차원선택_과적합_K폴드(NYU).ipynb',
 'u4_클러스터링_KMeans.ipynb',
 'v1-practice-1.ipynb',
 '.DS_Store',
 'u5_이름성별예측_베이시언.ipynb',
 'u6_신경망첫걸음%28NYU%29.ipynb',
 'u5_뉴스분석(영어).ipynb',
 'v1-7기계학습개념(mg-1).ipynb',
 'u3_선형회귀분석예제_전력생산량.ipynb',
 'u3_회귀분석_자동차연비(NYU).ipynb',
 'cache',
 'u6_MNIST선형모델(HVA).ipynb',
 'u1_데이터로드_상세.ipynb',
 'u6_Estimator_데이터입력_보스턴(Tut).ipynb',
 'u2_스크레이핑(BeautifulSoup).ipynb',
 'v3-1지도학습개요-의사결정나무(mg2).ipynb',
 'u3_PCA_3차원시각화.ipynb',
 'mytree.dot',
 'u6_RNN_스팸필터.ipynb',
 'v1.zip',
 'u7_타이타닉_시각화_Seaborn.ipynb',
 'u6_신경망_소개_mglearn.ipynb',
 'u7_금융_시계열분석(김혜숙).ipynb',
 'tmp.png',
 'u5_트위터분석(영어).ipynb',
 'u3_로지스틱회귀분석_GPA.ipynb',
 'u4_클러스터링_자동차_운동선수.ipynb',
 'u3_모델파이프라인(mg_6).ipynb',
 'u6_CNN_축구선수얼굴인식.ipynb',
 'u7_병원예약이행_예측(한주석).ipynb',
 'u6_CNN_MNIST.ipynb',
 'u1_데이터프레임_추가연습.ipynb',
 'test.csv',
 'u4_특성공학.ipynb',
 'u5_스팸메일_나이브베이어스.ipynb',
 'u2_데이터시각화_기초.ipynb',
 'u7_바이크_그리드서치_최적화.ipynb',
 'w3-Pandas.ipynb',
 'u3_SVM_MNIST(NYU).ipynb',
 'u5_텍스트처리_기초_NLTK.ipynb',
 'gg-파일다루기.ipynb',
 '__pycache__',
 'u5_텍스트데이터전처리(영어).ipynb',
 'v1-1강의소개.ipynb',
 'u4_클러스터링_보성군날씨.ipynb',
 'u7_텐서플로_기초.ipynb',
 'u7_타이타닉_기본.ipynb',
 'u7_타이타닉_기본-Copy1.ipynb',
 'output.csv',
 'u5_영화평가_영어_보충.ipynb',
 'u3_회귀분석_다중_당뇨(NYU).ipynb',
 ' gg-이름성별예측-베이즈.ipynb',
 'u6_텐서플로우_워드벡터(Tut).ipynb',
 'u6_Estimator_기초_붓꽃(Tut).ipynb',
 'u7_미국_테러발생데이터_시각화(이덕주).ipynb',
 'u3_의사결정나무_중요변수출력.ipynb',
 'u5_한글형태소분석.ipynb',
 'u4_회귀분석_항공사승객예측.ipynb',
 'u7_자전거대여예측.ipynb',
 'u6_MNIST_기본(Tut).ipynb',
 'u6_딥러닝개요(HVA).ipynb',
 'u5_텍스트분석기초(mg_7).ipynb',
 'u7_Kaggle소개.ipynb',
 'v1-3Numpy-practice-sol.ipynb',
 'gg-데이터로드.ipynb',
 'u5_텍스트분석응용-2.ipynb',
 'v1-4-Pandas.ipynb',
 'u7_항공지연예측.ipynb',
 'v1-3파이선-어레이.ipynb',
 'u3_모델성능평가(mg_5)-Copy1.ipynb',
 'w2-Numpy.ipynb',
 'u6_cat_vs_dog.ipynb',
 'u3_로지스틱회귀_유방암.ipynb',
 'u7_항공지연예측_2.ipynb',
 'u5_Word2Vec.ipynb',
 'v1-5-data-frame.ipynb',
 'test.txt',
 '.ipynb_checkpoints',
 'u2_시각화기법_상세.ipynb',
 'u7_MNIST_1.ipynb',
 'u2_데이터전처리_상세.ipynb',
 'u3_로지스틱_유방암(NYU).ipynb',
 'v1-3Numpy.ipynb',
 'u6_텐서플로시작(Tut).ipynb',
 'u3_선형회귀분석예제_국제항공사승객.ipynb',
 'w4-EDA.ipynb',
 'u2_웹페이지전체다운로드.ipynb',
 'u2_데이터로드_DB.ipynb',
 'u7_병원예약_나이브베이어스.ipynb',
 'data',
 'u7_자전거대여예측_시각화.ipynb',
 'tmp',
 'v3-2지도학습-선형회귀(mg2).ipynb',
 'u2_웹API.ipynb',
 'u5_영화평가_영어.ipynb',
 'u6_이미지넷_기초(Tut).ipynb',
 'taxi.zip',
 'mglearn',
 'v1-6데이터프레임-고급 (유니코드 인코딩 충돌).ipynb',
 'tree.dot',
 'u3_모델성능평가(mg_5).ipynb']

In [0]:
os.mkdir('test')

In [0]:
os.listdir()

['u7_taxi_read.ipynb',
 'u7_타이타닉예측DecisionTree.ipynb',
 'u3_비지도학습(mg_3).ipynb',
 'u7_자전거예측_하이퍼파라미터튜닝.ipynb',
 'u2_데이터크롤링(kusi).ipynb',
 'v3-3지도학습-SVM(mg2).ipynb',
 'u7_시계열분석_항공기이용승객수_LSTM(권혁민).ipynb',
 'u2_데이터읽기.ipynb',
 'v1-2파이선기초문법.ipynb',
 'u7_테러발생데이터_시각화(이덕주).ipynb',
 'u6_MNIST_딥러닝(Tut).ipynb',
 'preamble.py',
 'u2_데이터읽기_탐색.ipynb',
 'w1-Python-intro.ipynb',
 'w5-handson-intro.ipynb',
 'v1-3Numpy-practice.ipynb',
 'u3_다차원_차원선택_과적합_K폴드(NYU).ipynb',
 'u4_클러스터링_KMeans.ipynb',
 'v1-practice-1.ipynb',
 '.DS_Store',
 'u5_이름성별예측_베이시언.ipynb',
 'u6_신경망첫걸음%28NYU%29.ipynb',
 'u5_뉴스분석(영어).ipynb',
 'v1-7기계학습개념(mg-1).ipynb',
 'u3_선형회귀분석예제_전력생산량.ipynb',
 'u3_회귀분석_자동차연비(NYU).ipynb',
 'cache',
 'u6_MNIST선형모델(HVA).ipynb',
 'u1_데이터로드_상세.ipynb',
 'u6_Estimator_데이터입력_보스턴(Tut).ipynb',
 'u2_스크레이핑(BeautifulSoup).ipynb',
 'test',
 'v3-1지도학습개요-의사결정나무(mg2).ipynb',
 'u3_PCA_3차원시각화.ipynb',
 'mytree.dot',
 'u6_RNN_스팸필터.ipynb',
 'v1.zip',
 'u7_타이타닉_시각화_Seaborn.ipynb',
 'u6_신경망_소개_mglearn.ipynb',
 'u7_금융_시계열분석(김혜숙).ipynb',
 'tmp.png',
 'u5_트위터분석(영어).ipynb',
 'u3_로지스틱회귀분석_GPA.ipynb',
 'u4_클러스터링_자동차_운동선수.ipynb',
 'u3_모델파이프라인(mg_6).ipynb',
 'u6_CNN_축구선수얼굴인식.ipynb',
 'u7_병원예약이행_예측(한주석).ipynb',
 'u6_CNN_MNIST.ipynb',
 'u1_데이터프레임_추가연습.ipynb',
 'test.csv',
 'u4_특성공학.ipynb',
 'u5_스팸메일_나이브베이어스.ipynb',
 'u2_데이터시각화_기초.ipynb',
 'u7_바이크_그리드서치_최적화.ipynb',
 'w3-Pandas.ipynb',
 'u3_SVM_MNIST(NYU).ipynb',
 'u5_텍스트처리_기초_NLTK.ipynb',
 'gg-파일다루기.ipynb',
 '__pycache__',
 'u5_텍스트데이터전처리(영어).ipynb',
 'v1-1강의소개.ipynb',
 'u4_클러스터링_보성군날씨.ipynb',
 'u7_텐서플로_기초.ipynb',
 'u7_타이타닉_기본.ipynb',
 'u7_타이타닉_기본-Copy1.ipynb',
 'output.csv',
 'u5_영화평가_영어_보충.ipynb',
 'u3_회귀분석_다중_당뇨(NYU).ipynb',
 ' gg-이름성별예측-베이즈.ipynb',
 'u6_텐서플로우_워드벡터(Tut).ipynb',
 'u6_Estimator_기초_붓꽃(Tut).ipynb',
 'u7_미국_테러발생데이터_시각화(이덕주).ipynb',
 'u3_의사결정나무_중요변수출력.ipynb',
 'u5_한글형태소분석.ipynb',
 'u4_회귀분석_항공사승객예측.ipynb',
 'u7_자전거대여예측.ipynb',
 'u6_MNIST_기본(Tut).ipynb',
 'u6_딥러닝개요(HVA).ipynb',
 'u5_텍스트분석기초(mg_7).ipynb',
 'u7_Kaggle소개.ipynb',
 'v1-3Numpy-practice-sol.ipynb',
 'gg-데이터로드.ipynb',
 'u5_텍스트분석응용-2.ipynb',
 'v1-4-Pandas.ipynb',
 'u7_항공지연예측.ipynb',
 'v1-3파이선-어레이.ipynb',
 'u3_모델성능평가(mg_5)-Copy1.ipynb',
 'w2-Numpy.ipynb',
 'u6_cat_vs_dog.ipynb',
 'u3_로지스틱회귀_유방암.ipynb',
 'u7_항공지연예측_2.ipynb',
 'u5_Word2Vec.ipynb',
 'v1-5-data-frame.ipynb',
 'test.txt',
 '.ipynb_checkpoints',
 'u2_시각화기법_상세.ipynb',
 'u7_MNIST_1.ipynb',
 'u2_데이터전처리_상세.ipynb',
 'u3_로지스틱_유방암(NYU).ipynb',
 'v1-3Numpy.ipynb',
 'u6_텐서플로시작(Tut).ipynb',
 'u3_선형회귀분석예제_국제항공사승객.ipynb',
 'w4-EDA.ipynb',
 'u2_웹페이지전체다운로드.ipynb',
 'u2_데이터로드_DB.ipynb',
 'u7_병원예약_나이브베이어스.ipynb',
 'data',
 'u7_자전거대여예측_시각화.ipynb',
 'tmp',
 'v3-2지도학습-선형회귀(mg2).ipynb',
 'u2_웹API.ipynb',
 'u5_영화평가_영어.ipynb',
 'u6_이미지넷_기초(Tut).ipynb',
 'taxi.zip',
 'mglearn',
 'v1-6데이터프레임-고급 (유니코드 인코딩 충돌).ipynb',
 'tree.dot',
 'u3_모델성능평가(mg_5).ipynb']

In [0]:
os.rename('test','new_one')
os.remove('output.csv')
os.rmdir('new_one')

In [0]:
os.listdir()

['u7_taxi_read.ipynb',
 'u7_타이타닉예측DecisionTree.ipynb',
 'u3_비지도학습(mg_3).ipynb',
 'u7_자전거예측_하이퍼파라미터튜닝.ipynb',
 'u2_데이터크롤링(kusi).ipynb',
 'v3-3지도학습-SVM(mg2).ipynb',
 'u7_시계열분석_항공기이용승객수_LSTM(권혁민).ipynb',
 'u2_데이터읽기.ipynb',
 'v1-2파이선기초문법.ipynb',
 'u7_테러발생데이터_시각화(이덕주).ipynb',
 'u6_MNIST_딥러닝(Tut).ipynb',
 'preamble.py',
 'u2_데이터읽기_탐색.ipynb',
 'w1-Python-intro.ipynb',
 'w5-handson-intro.ipynb',
 'v1-3Numpy-practice.ipynb',
 'u3_다차원_차원선택_과적합_K폴드(NYU).ipynb',
 'u4_클러스터링_KMeans.ipynb',
 'v1-practice-1.ipynb',
 '.DS_Store',
 'u5_이름성별예측_베이시언.ipynb',
 'u6_신경망첫걸음%28NYU%29.ipynb',
 'u5_뉴스분석(영어).ipynb',
 'v1-7기계학습개념(mg-1).ipynb',
 'u3_선형회귀분석예제_전력생산량.ipynb',
 'u3_회귀분석_자동차연비(NYU).ipynb',
 'cache',
 'u6_MNIST선형모델(HVA).ipynb',
 'u1_데이터로드_상세.ipynb',
 'u6_Estimator_데이터입력_보스턴(Tut).ipynb',
 'u2_스크레이핑(BeautifulSoup).ipynb',
 'v3-1지도학습개요-의사결정나무(mg2).ipynb',
 'u3_PCA_3차원시각화.ipynb',
 'mytree.dot',
 'u6_RNN_스팸필터.ipynb',
 'v1.zip',
 'u7_타이타닉_시각화_Seaborn.ipynb',
 'u6_신경망_소개_mglearn.ipynb',
 'u7_금융_시계열분석(김혜숙).ipynb',
 'tmp.png',
 'u5_트위터분석(영어).ipynb',
 'u3_로지스틱회귀분석_GPA.ipynb',
 'u4_클러스터링_자동차_운동선수.ipynb',
 'u3_모델파이프라인(mg_6).ipynb',
 'u6_CNN_축구선수얼굴인식.ipynb',
 'u7_병원예약이행_예측(한주석).ipynb',
 'u6_CNN_MNIST.ipynb',
 'u1_데이터프레임_추가연습.ipynb',
 'u4_특성공학.ipynb',
 'u5_스팸메일_나이브베이어스.ipynb',
 'u2_데이터시각화_기초.ipynb',
 'u7_바이크_그리드서치_최적화.ipynb',
 'w3-Pandas.ipynb',
 'u3_SVM_MNIST(NYU).ipynb',
 'u5_텍스트처리_기초_NLTK.ipynb',
 'gg-파일다루기.ipynb',
 '__pycache__',
 'u5_텍스트데이터전처리(영어).ipynb',
 'v1-1강의소개.ipynb',
 'u4_클러스터링_보성군날씨.ipynb',
 'u7_텐서플로_기초.ipynb',
 'u7_타이타닉_기본.ipynb',
 'u7_타이타닉_기본-Copy1.ipynb',
 'output.csv',
 'u5_영화평가_영어_보충.ipynb',
 'u3_회귀분석_다중_당뇨(NYU).ipynb',
 ' gg-이름성별예측-베이즈.ipynb',
 'u6_텐서플로우_워드벡터(Tut).ipynb',
 'u6_Estimator_기초_붓꽃(Tut).ipynb',
 'u7_미국_테러발생데이터_시각화(이덕주).ipynb',
 'u3_의사결정나무_중요변수출력.ipynb',
 'u5_한글형태소분석.ipynb',
 'u4_회귀분석_항공사승객예측.ipynb',
 'u7_자전거대여예측.ipynb',
 'u6_MNIST_기본(Tut).ipynb',
 'u6_딥러닝개요(HVA).ipynb',
 'u5_텍스트분석기초(mg_7).ipynb',
 'u7_Kaggle소개.ipynb',
 'v1-3Numpy-practice-sol.ipynb',
 'gg-데이터로드.ipynb',
 'u5_텍스트분석응용-2.ipynb',
 'v1-4-Pandas.ipynb',
 'u7_항공지연예측.ipynb',
 'v1-3파이선-어레이.ipynb',
 'u3_모델성능평가(mg_5)-Copy1.ipynb',
 'w2-Numpy.ipynb',
 'u6_cat_vs_dog.ipynb',
 'u3_로지스틱회귀_유방암.ipynb',
 'u7_항공지연예측_2.ipynb',
 'u5_Word2Vec.ipynb',
 'v1-5-data-frame.ipynb',
 'test.txt',
 '.ipynb_checkpoints',
 'u2_시각화기법_상세.ipynb',
 'u7_MNIST_1.ipynb',
 'u2_데이터전처리_상세.ipynb',
 'u3_로지스틱_유방암(NYU).ipynb',
 'v1-3Numpy.ipynb',
 'u6_텐서플로시작(Tut).ipynb',
 'u3_선형회귀분석예제_국제항공사승객.ipynb',
 'w4-EDA.ipynb',
 'u2_웹페이지전체다운로드.ipynb',
 'u2_데이터로드_DB.ipynb',
 'u7_병원예약_나이브베이어스.ipynb',
 'data',
 'u7_자전거대여예측_시각화.ipynb',
 'tmp',
 'v3-2지도학습-선형회귀(mg2).ipynb',
 'u2_웹API.ipynb',
 'u5_영화평가_영어.ipynb',
 'u6_이미지넷_기초(Tut).ipynb',
 'taxi.zip',
 'mglearn',
 'v1-6데이터프레임-고급 (유니코드 인코딩 충돌).ipynb',
 'tree.dot',
 'u3_모델성능평가(mg_5).ipynb']

In [0]:
import json

In [0]:
# json은 python에서처럼 '으로 하면 안된다. 현재 """로 감싸 문자열로 저장되어 있기 때문에 
# javascript에서는 '를 string 값으로 인식하지 않아서 에러 발생
obj = """
{
    "name": "Kim",
    "places_lived": ["Seoul", "Korea"],
    "pet": null, "siblings": [{"name": "Scott", "age":25, "pet":"Zuko"}]
}
"""

In [0]:
result = json.loads(obj)
result

{'name': 'Kim',
 'places_lived': ['Seoul', 'Korea'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 25, 'pet': 'Zuko'}]}

In [0]:
asjson = json.dumps(result)
asjson

'{"name": "Kim", "places_lived": ["Seoul", "Korea"], "pet": null, "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"}]}'